.service-nav-ctn
  .container
    %ul
      %li
        = link_to "机构首页", institution_path(@shop), :class => "btn"
      %li
        = link_to "服务项目", nil, :class => "btn"
      %li
        = link_to "大型仪器", nil, :class => "btn"
      %li
        = link_to "订购记录", nil, :class => "btn"
      %li
        = link_to "机构介绍", nil, :class => "btn"

